.popular{

width:90%;

margin:120px auto;

}

.title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.title h2{

font-size:42px;

}

.title p{

color:#2d6cff;

cursor:pointer;

}

.laptop-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.laptop-card{

background:#171717;

border:1px solid rgba(255,255,255,.08);

padding:25px;

border-radius:20px;

transition:.35s;

text-align:center;

}

.laptop-card:hover{

transform:translateY(-10px);

border-color:#2d6cff;

box-shadow:0 18px 40px rgba(45,108,255,.2);

}

.laptop-card img{

width:150px;

height:110px;

object-fit:contain;

margin-bottom:20px;

}

.stars{

color:#FFD700;

margin:15px 0;

display:flex;

justify-content:center;

gap:5px;

}

.laptop-card h4{

margin-bottom:18px;

color:#2d6cff;

}

.laptop-card button{

padding:10px 22px;

background:transparent;

border:1px solid #2d6cff;

color:white;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.laptop-card button:hover{

background:#2d6cff;

}