.recommendation{

min-height:100vh;

background:#090909;

color:white;

}

.recommendation-container{

width:90%;

margin:auto;

padding-top:120px;

display:flex;

justify-content:space-between;

align-items:center;

gap:80px;

}

.left{

width:45%;

text-align:center;

}

.left img{

width:320px;

margin-bottom:30px;

filter:drop-shadow(0 0 30px rgba(45,108,255,.35));

}

.left h1{

font-size:48px;

margin-bottom:20px;

}

.left p{

color:#bdbdbd;

line-height:30px;

}

.right{

width:45%;

display:flex;

justify-content:center;

}

.card{

width:100%;

background:#171717;

padding:40px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

}

.card h2{

margin-bottom:30px;

}

.card label{

display:block;

margin-top:20px;

margin-bottom:10px;

font-weight:600;

}

.card select{

width:100%;

padding:15px;

background:#111;

color:white;

border:1px solid #2d6cff;

border-radius:10px;

outline:none;

}

.card button{

margin-top:35px;

width:100%;

padding:16px;

background:#2d6cff;

border:none;

border-radius:12px;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.card button:hover{

background:#4b7cff;

}