/* ===========================
   TOPBAR
=========================== */

.topbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    background:#090B13;
    border-bottom:1px solid rgba(255,255,255,.06);
    position:sticky;
    top:0;
    z-index:100;
}

/* ===========================
   SEARCH
=========================== */

.topbar-search{
    width:580px;
    height:52px;
    background:#111827;
    border:1px solid rgba(255,255,255,.06);
    border-radius:14px;

    display:flex;
    align-items:center;
    gap:15px;

    padding:0 18px;
}

.topbar-search svg{
    color:#9CA3AF;
    font-size:18px;
}

.topbar-search input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    color:#fff;
    font-size:15px;
}

.topbar-search input::placeholder{
    color:#6B7280;
}

/* ===========================
   RIGHT
=========================== */

.topbar-right{
    display:flex;
    align-items:center;
    gap:28px;
}

/* ===========================
   PROFILE
=========================== */

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

.profile svg{
    font-size:44px;
    color:#9CA3AF;
}

.profile h4{
    color:#fff;
    font-size:16px;
    margin:0;
}

.profile p{
    color:#9CA3AF;
    font-size:13px;
    margin:0;
}
.full-width{

margin-left:auto;

}