.topbar{

position:fixed;

left:260px;

right:0;

top:0;

height:80px;

background:#111111;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

border-bottom:1px solid rgba(255,255,255,.05);

z-index:99;

}

.topbar input{

width:340px;

padding:12px 20px;

background:#1a1a1a;

border:none;

border-radius:12px;

color:white;

outline:none;

}

.top-right{

display:flex;

gap:25px;

font-size:24px;

color:white;

cursor:pointer;

}