/* ==========================================
   SIDEBAR
========================================== */

.sidebar{

    position:fixed;

    top:0;
    left:0;

    width:260px;
    height:100vh;

    padding:30px 20px;

    display:flex;
    flex-direction:column;

    background:#111827;

    border-right:1px solid rgba(255,255,255,.06);

}

/* ==========================================
   LOGO
========================================== */

.sidebar-logo{

    margin-bottom:45px;

    font-size:36px;

    font-weight:700;

    color:#3B82F6;

    font-family:'Space Grotesk',sans-serif;

    letter-spacing:1px;

}

/* ==========================================
   MENU
========================================== */

.sidebar-link{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px 18px;

    margin-bottom:10px;

    border-radius:14px;

    text-decoration:none;

    color:#CBD5E1;

    font-size:16px;

    font-weight:500;

    transition:.3s;

}

.sidebar-link:hover{

    background:#2563EB;

    color:#fff;

    transform:translateX(6px);

}

/* ==========================================
   ICON
========================================== */

.sidebar-icon{

    font-size:18px;

}

/* ==========================================
   LOGOUT
========================================== */

.sidebar-logout{

    margin-top:auto;

}