.sidebar{

width:260px;

height:100vh;

background:#111111;

border-right:1px solid rgba(255,255,255,.05);

padding:35px;

position:fixed;

left:0;

top:0;

display:flex;

flex-direction:column;

gap:18px;

}

.logo{

font-size:30px;

margin-bottom:40px;

color:#2D6CFF;

}

.sidebar a{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

text-decoration:none;

color:#c8c8c8;

border-radius:12px;

transition:.3s;

font-size:16px;

}

.sidebar a:hover{

background:#2D6CFF;

color:white;

}