/* ==========================================
   FEATURES
========================================== */

.features{

    width:90%;

    margin:120px auto;

    text-align:center;

     min-height:100vh;

    padding:110px 80px 80px;

    scroll-margin-top:85px;

}

.features h2{

    font-size:46px;

    color:white;

    font-family:'Space Grotesk',sans-serif;

    margin-bottom:18px;

}

.feature-subtitle{

    max-width:650px;

    margin:0 auto 60px;

    color:#9CA3AF;

    font-size:17px;

    line-height:32px;

}

/* ==========================================
   GRID
========================================== */

.feature-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:28px;

}

/* ==========================================
   CARD
========================================== */

.feature-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.05);

    border-radius:22px;

    padding:38px 30px;

    transition:.35s;

    cursor:pointer;

}

.feature-card:hover{

    transform:translateY(-8px);

    border-color:#2563EB;

    box-shadow:0 18px 40px rgba(37,99,235,.18);

}

/* ==========================================
   ICON
========================================== */

.feature-icon{

    width:70px;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:0 auto 25px;

    border-radius:20px;

    background:rgba(37,99,235,.12);

    border:1px solid rgba(37,99,235,.25);

    color:#3B82F6;

    font-size:28px;

    transition:.35s;

}

.feature-card:hover .feature-icon{

    transform:rotate(-8deg) scale(1.08);

}

/* ==========================================
   TEXT
========================================== */

.feature-card h3{

    color:white;

    font-size:22px;

    margin-bottom:15px;

}

.feature-card p{

    color:#9CA3AF;

    font-size:15px;

    line-height:30px;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:992px){

    .feature-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .feature-grid{

        grid-template-columns:1fr;

    }

}