.testimonial{

width:90%;

margin:120px auto;

}

.testimonial-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.testimonial-title h2{

font-size:42px;

}

.testimonial-title p{

color:#2d6cff;

cursor:pointer;

}

.testimonial-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}

.testimonial-card{

background:#171717;

border:1px solid rgba(255,255,255,.08);

padding:30px;

border-radius:20px;

transition:.35s;

}

.testimonial-card:hover{

transform:translateY(-8px);

border-color:#2d6cff;

}

.user{

font-size:55px;

color:#2d6cff;

margin-bottom:20px;

}

.testimonial-card .stars{

color:gold;

display:flex;

gap:4px;

margin-bottom:18px;

}

.testimonial-card p{

color:#bdbdbd;

line-height:28px;

margin-bottom:20px;

}

.testimonial-card h4{

font-size:18px;

}