.dashboard-admin-stats{

    margin-top:40px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

@media(max-width:1200px){

    .dashboard-admin-stats{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .dashboard-admin-stats{

        grid-template-columns:1fr;

    }

}
.dashboard-admin-bottom{

    margin-top:35px;

    display:grid;

    grid-template-columns:38% 62%;

    gap:24px;

    align-items:stretch;

}
.dashboard-admin-bottom > *{

    height:100%;

}

@media(max-width:1100px){

    .dashboard-admin-bottom{

        grid-template-columns:1fr;

    }

}