.admin-search-container{

    width:320px;

    height:48px;

    display:flex;

    align-items:center;

    gap:12px;

    padding:0 16px;

    background:#111827;

    border:1px solid rgba(255,255,255,.06);

    border-radius:12px;

}

.admin-search-icon{

    color:#64748B;

    font-size:15px;

}

.admin-search-input{

    flex:1;

    background:transparent;

    border:none;

    outline:none;

    color:white;

    font-size:14px;

}

.admin-search-input::placeholder{

    color:#64748B;

}