.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin:30px 0;

}

.stat-card{

background:#111827;

border:1px solid rgba(255,255,255,.05);

border-radius:18px;

padding:25px;

display:flex;

gap:18px;

align-items:flex-start;

transition:.3s;

}

.stat-card:hover{

transform:translateY(-5px);

border-color:#2563EB;

}

.icon{

width:60px;

height:60px;

display:flex;

align-items:center;

justify-content:center;

border-radius:16px;

font-size:24px;

color:white;

}

.blue{

background:#2563EB;

}

.green{

background:#10B981;

}

.orange{

background:#F59E0B;

}

.purple{

background:#8B5CF6;

}

.stat-card span{

color:#A1A1AA;

font-size:14px;

}

.stat-card h2{

font-size:38px;

margin:6px 0;

color:white;

}

.stat-card p{

font-size:13px;

color:#9CA3AF;

}