.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#090B13;
}

/* Sidebar fixed */
.sidebar{
    position:fixed;
    left:0;
    top:0;
}

/* Semua konten di sebelah kanan sidebar */
.dashboard-content{

    flex:1;

    margin-left:260px;

    display:flex;

    flex-direction:column;

    min-height:100vh;

}

/* Topbar */
.dashboard-main{

    padding:30px;

    flex:1;

}